﻿@model BadBrokerTestTask.Models.Form

@{
    ViewBag.Title = "Get";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.DateFrom)
        @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateTo)
        @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Money)
        @Html.TextBoxFor(model => model.Money, new { @class = "form-control" })
    </div>
    <p>
        <input type="button" value="Submit" class="btn btn-default" id="ButtonSubmit" data-loading-text="Loading..." onclick="Get()" />
        <p id="Status" class="help-block"/></p>
}

<div id="Result"></div>
<div id="Exchange"></div>

