﻿
html, body {
  min-height: 100%;
  height: 100%;
}
div#page {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}
div#footerDefender {
  height: 30px;
}
#footer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
}
