﻿
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Bad Broker Test Task | @ViewBag.Title</title>
        
        @Styles.Render("~/Scripts/css")
    </head>
    <body >
        <div id="page">
            <header class="container">
                <h1>Bad Broker Test Task</h1>
            </header>
            <section id="section" class="container">
                @RenderBody()
            </section>
            <div id="footerDefender"></div>
            <footer id="footer">
                <div class="container">
                   <p >  ©Copyright Nepomniashchii Evgenii</p>
                </div>
            </footer>
        </div>
        @Scripts.Render("~/bundles/scripts")
    </body>
</html>
